<div   class="container1"id="introduction" #introductionSection>
  <div class="content">
    <div  class="title" >
      <h1>Hi, I´m Sebastian. Nice to meet you</h1>
    </div>
    <div class="information">
      <p>Developer and Tech Consultant 💡 Knowledge Angular, React, Spring Boot, .NET, Python, Golang, Node.js, and AWS ☁️. Web/mobile testing 🌐. Architecture. Boost your project with advanced solutions! 🚀"</p>
    </div>
  </div>

</div>
<div class="contact-me">
  <div class="button-routes">
    <a mat-raised-button href="https://www.linkedin.com/in/jhoan-sebastian-duque-zapata-736897208/?locale=en_US" target="_blank"><img src="assets/image/linkedin.png" alt=""></a>
  </div>
  <div class="button-routes">
    <a mat-raised-button href="https://github.com/sebastian946" target="_blank"><img src="assets/image/github.png" alt=""></a>

  </div>
  <div class="button-routes">
    <a mat-raised-button href="https://wa.me/573197806869" target="_blank"><img src="assets/image/whatsapp.png" alt=""></a>

  </div>
  <div class="button-routes">
    <a mat-raised-button href="mailto:jhoan1113@hotmail.com" target="_blank"><img src="assets/image/email.png" alt=""></a>

  </div>
</div>
