<div  class="container-main" id="study" #studySection>
  <div class="title">
    <h1>BACHELOR OF SOFTWARE DEVELOPER</h1>
  </div>
  <hr>
  <br>
  <div class="content">
    <div class="content-image">
      <img src="assets/image/poli.png" alt="">
      <div class="description-experience">
        <div class="title">
          <h5>Politecnico GranColombiano</h5>
        </div>
        <div class="description">
          <p>Bachelor Engineer Software</p>
        </div>
      </div>
    </div>
    <div class="content-image">
      <img src="assets/image/sena.jpeg" alt="">
      <div class="description-experience">
        <div class="title">
          <h5>SENA</h5>
        </div>
        <div class="description">
          <p>Tecnology in Software Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
