
<div class="container1" id="aboutme" #aboutmeSection>
  <div class="title">
    <h1>ABOUT ME</h1>
    <hr>
  </div>
  <div class="content">
    <div class="personal-information">
      <h2>
        Get to know me
      </h2>
      <br>
      <div class="personal-text">
        <p>I am a technology enthusiast with 2 years of experience in software development. I embarked on my journey at Intergrupo, where I mastered manual testing, black-box testing, regression, and automation using Katalon, Serenity, and Selenium. I worked with .NET and Angular for 5 months, and now, as a QA Mid Level at Banco de Bogotá for 7 months, I lead detailed manual testing, automation with Serenity, Selenium, Python, Cypress, and security and load testing. My approach has reduced bugs in production.

          Furthermore, I am a full-stack developer in Angular, React, Spring Boot, Node.js, Python, and Go. I handle AWS (Lambdas, architecture) and effectively communicate to understand product and client needs. I excel in teamwork, propose enhancements, and deliver quality as both QA and developer. My goal is to provide accurate and user-friendly services for clients and employers.</p>
      </div>
    </div>
    <div class="tecnology">
      <h2>Front</h2>
      <div class="content-tecnology">
        <div class="box-content">
          <h4>Angular</h4>
        </div>
        <div class="box-content">
          <h4>React</h4>
        </div>
      </div>
      <h2>Back</h2>
      <div class="content-tecnology">
        <div class="box-content">
          <h4>Spring</h4>
        </div>
        <div class="box-content">
          <h4>Node js</h4>
        </div>
        <div class="box-content">
          <h4>Laravel</h4>
        </div>
      </div>
      <h2>Tester - Automate testing</h2>
      <div class="content-tecnology">
        <div class="box-content">
          <h4>Serenity</h4>
        </div>
        <div class="box-content">
          <h4>Selenium</h4>
        </div>
        <div class="box-content">
          <h4>Pytest</h4>
        </div>
        <div class="box-content">
          <h4>Katalon</h4>
        </div>
        <div class="box-content">
          <h4>Cucumber</h4>
        </div>
      </div>
      <h2>Cloud</h2>
      <div class="content-tecnology">
        <div class="box-content">
          <h4>AWS</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
