<div  class="container-main" id="experiences" #experiencesSection>
  <div class="title">
    <h1>EXPERIENCE</h1>
  </div>
  <hr>
  <br>
  <div class="content">
    <div class="content-image">
      <img src="assets/image/intergrupo.jpeg" alt="">
      <div class="description-experience">
        <div class="title">
          <h5>Intergrupo SoftwareOne</h5>
        </div>
        <div class="description">
          <p>This is a software company where I had the opportunity to work for major Colombian clients such as EPM and Postobón. During my tenure here, I served as a tester and developer, meticulously crafting test cases that closely align with the program's specific functionalities as per customer requirements. Additionally, I ventured into creating automated test cases using tools like Serenity and Katalon.</p>
        </div>
      </div>
    </div>
    <div class="content-image">
      <img src="assets/image/bancoBogota.png" alt="">
      <div class="description-experience">
        <div class="title">
          <h5>Banco de bogota</h5>
        </div>
        <div class="description">
          <p>Currently, I'm employed at a prominent bank headquartered in Bogotá, Colombia. Renowned as one of the largest and most reputable banks in the country, I've been fortunate to work here for seven months in a dual role as a tester and developer.

            In my testing capacity, I rigorously evaluate pages prior to client delivery, meticulously uncovering any potential bugs. This meticulous approach ensures the final product is optimized and boasts a solid. </p>
        </div>
      </div>
    </div>
  </div>
</div>
